html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

h1, h2, p {
  color: white;
}

.home-container{
  background-color: #000;
  height: 100vh;
  font-family: nebulaRegular;
  background-image: url("./assets/home-bg.jpg");
}

.title{
  font-size: 3.2rem;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
}

.rhombus-container{
display: inline-block;
width: 30%;
min-width: 300px;
height: 500px;
padding: 50px 50px;
min-height: 300px;
max-height: 600px;
border: 1px solid #000;
text-decoration: none;
border: 5px solid white;
border-top-left-radius: 40px;
border-bottom-right-radius: 40px;

box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.5);

filter:brightness(0.55);

transform: skewX(-10deg);
transition: transform 100ms;
}

.rhombus-container img{
  width: 500px;
  max-width: 100%;
}

.bg-blue{
  background-color: #273BE2;
}

.bg-red{
  background-color: #E34234;
}

.bg-yellow{
  background-color: #FFA500;
}

.rhombus-content{
  width:100%;
  transform: skewX(10deg);
}

.rhombus-container:hover { 

  transform: skew(-10deg) scale(1.2);
  box-shadow: 0px 3px 30px 4px rgba(215, 215, 215, 0.3);

  
  border: 10px solid white;
  z-index: 3;

  filter:brightness(1);

  animation: brighten 120ms;

  
}

/* .characterSelect-bg{
  position: absolute;
  top: -100px;
  right: px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
  z-index: -100;
  height: 1000px !important;
  width:600px !important;
} */

.role_text{
  text-align: end;
}

.rhombus-container:hover h2,
.rhombus-container:hover h1
{
  text-shadow: 1px 4px 5px #000;
}


.dots__blink1{
  animation: blink 1.2s infinite 200ms;
}

.dots__blink2{
  animation: blink 1.2s infinite 600ms;
}

.dots__blink3{
  animation: blink 1.2s infinite 1000ms;
}



/* Animations */

@keyframes blink {
  0% { opacity: 0; }

  100% { opacity: 1; }
}

@keyframes brighten {
  
  0% {
    box-shadow: inset 0 0 0 200px rgba(0, 0, 0, 0.5);
  }

  20% {
    box-shadow: inset 0 0 0 160px rgba(0, 0, 0, 0.5);
  }

  40% {
    box-shadow: inset 0 0 0 120px rgba(0, 0, 0, 0.5);
  }

  60% {
    box-shadow: inset 0 0 0 80px rgba(0, 0, 0, 0.5);
  }

  80% {
    box-shadow: inset 0 0 0 40px rgba(0, 0, 0, 0.5);
  }

  100%{
    box-shadow: inset 0 0 0 0px rgba(0, 0, 0, 0.5);
  }

}

/* Font */

@font-face {
  font-family: nebulaRegular;
  src: url(../public/Nebula-Regular.otf);
}

@font-face {
  font-family: nebulaHollow;
  src: url(../public/Nebula-Hollow.otf);
}